<app-header-breadcrumb [title]="'Productos'"></app-header-breadcrumb>
<ul>
  <li><a href="https://amoranimalproyecto.netlify.app/dashboard">Inicio</a><a> / </a><a href="https://amoranimalproyecto.netlify.app/ecommerce/shopping-cart">Productos</a></li>
</ul>
<!-- ROW-1 OPEN -->
<!-- Mobile Header -->

<div class="mb-1 navbar navbar-expand-lg  responsive-navbar navbar-dark d-md-none bg-white">
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="d-flex order-lg-2 ms-auto">
            <div ngbDropdown class="d-sm-flex">
                <a href="javascript:;" class="nav-link icon" ngbDropdownToggle>
                    <i class="fe fe-search"></i>
                </a>
                <div ngbDropdownMenu class="header-search dropdown-menu-start">
                    <div class="input-group w-100 p-2">
                        <input type="text" class="form-control" placeholder="Search....">
                        <div class="input-group-text btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SEARCH -->
            <div ngbDropdown class="d-md-flex">
                <a class="nav-link icon theme-layout nav-link-bg layout-setting" (click)="darkmodeToggle()">
                    <span class="dark-layout" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Dark Theme"><i
                            class="fe fe-moon"></i></span>
                    <span class="light-layout" data-bs-placement="bottom" data-bs-toggle="tooltip"
                        title="Light Theme"><i class="fe fe-sun"></i></span>
                </a>
            </div>
            <!-- Theme-Layout -->
            <div ngbDropdown class="d-md-flex">
                <a class="nav-link icon full-screen-link nav-link-bg" appFullscreen>
                    <i class="fe fe-maximize "></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Header -->
<div class="row row-cards">
    <div class="col-xl-2 col-lg-2">

    </div><!-- COL-END -->
    <div class="col-xl-9 col-lg-8">
        <div class="row">
            <div *ngFor="let product of productos " class="col-md-6 col-xl-4">
                <div  class="card item-card">
                    <div class="product-grid6  card-body ">

                        <div class="product-image6">
                            <a routerLink="/ecommerce/product-details">
                                <img class="img-fluid" src={{product.descripcionBreve}} alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4  class="title" >
                                {{product.nombreProducto}}
                            </h4>
                            <div class="price">
                                ${{product.precioVenta}}
                            </div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/ecommerce/product-details" [queryParams]="{ descripcionBreve: product.descripcionBreve }" data-tip="Ver Detalles"><i
                                        class="fe fe-eye "></i></a>
                            </li>
                            <li><a (click)="addToCart(product)" data-tip="Añadir al carrito"><i
                                        class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

