<app-header-breadcrumb [title]="'Más información'"></app-header-breadcrumb>
<ul>
  <li><a href="/dashboard">Inicio</a><a> / </a><a href="/pages/blog">Ver mascotas</a><a> / </a><a href="/pages/detalles4">Gato Scottish fol</a></li>
</ul>
<br>
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Scottishfold.jpg"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Gato Scottish fold</h5>
                <p class="card-text">La característica más llamativa del scottish fold son las orejas dobladas. Los gatitos nacen con orejas normales, que se pliegan hacia delante pasadas unas cuatro semanas.</p>
                <p>El scottish fold es una raza mediana con un cuerpo rechoncho, patas robustas y cola gruesa. Una hembra pesa de dos a cuatro kilos y un macho, entre cuatro y cinco.

                  Además, el pelaje del scottish fold es denso, suave y de longitud media.

                  Los criadores organizados reconocen casi todos los colores y dibujos, excepto el chocolate, el point siamés y el lilac.</p>
                <p>El fold escocés es un gato con un carácter extremadamente tranquilo que maúlla muy poco. Es cariñoso, inteligente y afectuoso.

                  Dicen que es capaz de percibir el estado de ánimo de sus humanos y que responde a él, pidiéndoles que jueguen con él o lo acaricien.</p>

            </div>

            <a  routerLink="/pages/adopcion"  class="btn btn-square btn-primary-light me-1">Quiero Adoptar</a>
        </div>

    </div>

</div>
<!-- ROW-1 CLOSED -->
