<app-header-breadcrumb [title]="'Terms'" [items]="['Pages']" [active_item]="'Terms'"></app-header-breadcrumb>

<!-- ROW-1 OPEN -->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4><b>Política de privacidad</b></h4>
                <p>El sitio web Amor Animal es propiedad de Amor Animal, que es un controlador de datos de tus datos personales.

                  Hemos adoptado esta Política de privacidad, que determina cómo procesamos la información recopilada por Amor Animal, que también proporciona las razones por las que debemos recopilar ciertos datos personales sobre ti. Por lo tanto, debes leer esta Política de privacidad antes de usar el sitio web de Amor Animal.

                  Cuidamos tus datos personales y nos comprometemos a garantizar su confidencialidad y seguridad.</p>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4><b>Información personal que recopilamos:</b></h4>
                <p>Cuando visitas Amor Animal, recopilamos automáticamente cierta información sobre tu dispositivo, incluida información sobre tu navegador web, dirección IP, zona horaria y algunas de las cookies instaladas en tu dispositivo. Además, a medida que navegas por el sitio, recopilamos información sobre las páginas web individuales o los productos que ves, qué sitios web o términos de búsqueda te remitieron al sitio y cómo interactúas con él. Nos referimos a esta información recopilada automáticamente como "Información del dispositivo". Además, podemos recopilar los datos personales que nos proporcionas (incluidos, entre otros, nombre, apellido, dirección, información de pago, etc.) durante el registro para poder cumplir con el acuerdo.</p>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4><b>¿Por qué procesamos tus datos?</b></h4>
                <p>Nuestra máxima prioridad es la seguridad de los datos del cliente y, como tal, podemos procesar solo los datos mínimos del usuario, solo en la medida en que sea absolutamente necesario para mantener el sitio web. La información recopilada automáticamente se utiliza solo para identificar casos potenciales de abuso y establecer información estadística sobre el uso del sitio web. Esta información estadística no se agrega de tal manera que identifique a ningún usuario en particular del sistema.

                  Puedes visitar el sitio sin decirnos quién eres ni revelar ninguna información por la cual alguien pueda identificarte como una persona específica. Sin embargo, si deseas utilizar algunas de las funciones del sitio web, o deseas recibir nuestro boletín informativo o proporcionar otros detalles al completar un formulario, puedes proporcionarnos datos personales, como tu correo electrónico, nombre, apellido, ciudad de residencia, organización y número de teléfono. Puedes optar por no proporcionar tus datos personales, pero es posible que no puedas aprovechar algunas de las funciones del sitio web. Por ejemplo, no podrás recibir nuestro boletín ni contactarnos directamente desde el sitio web. Los usuarios que no estén seguros de qué información es obligatoria pueden ponerse en contacto con nosotros a través de amoranimal@gmail.com.s</p>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4><b>Divulgación legal: </b></h4>
                <p>Divulgaremos cualquier información que recopilemos, usemos o recibamos si así lo requiere o lo permite la ley, como para cumplir con una citación o un proceso legal similar, y cuando creemos de buena fe que la divulgación es necesaria para proteger nuestros derechos, proteger tu seguridad o la seguridad de los demás, investigar el fraude o responder a una solicitud del gobierno.</p>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4><b>Seguridad de la información:</b></h4>
                <p>Aseguramos la información que proporcionas en servidores informáticos en un entorno controlado y seguro, protegido del acceso, uso o divulgación no autorizados. Mantenemos medidas de seguridad administrativas, técnicas y físicas razonables para proteger contra el acceso no autorizado, el uso, la modificación y la divulgación de datos personales bajo su control y custodia. Sin embargo, no se puede garantizar la transmisión de datos a través de Internet o redes inalámbricas.</p>

            </div>
        </div>
        <div class="card">
            <div class="card-body text-start">
                <div class="terms">
                    <p>Necesitas ayuda para más información</p>
                    <a class="btn btn-primary text-white me-2">Si</a>
                    <a class="btn btn-secondary text-white">No</a>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSE -->
