<app-header-breadcrumb [title]="'Más información'"></app-header-breadcrumb>
<ul>
  <li><a href="/dashboard">Inicio</a><a> / </a><a href="/pages/blog">Ver mascotas</a><a> / </a><a href="/pages/detalles2">Hamster</a></li>
</ul>
<br>

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/hamsterenano.jpg"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Hamster</h5>
                <p class="card-text">Los hámsteres son bastante individualistas y solitarios, de día se esconden en las esquinas más oscuras, buscando tranquilidad, ya que se han pasado la noche cavando, removiendo, correteando y a haciendo escandalera en su jaula. </p>
                <p>  Estos roedores cuando están exhaustos y quieren descansar no soportan los ruidos fuertes como la música alta, los gritos de niños jugando o el sonido de la aspiradora.  </p>
                <p>Es fascinante observar cómo un hámster se entretiene excavando en la arena, construyendo pasadizos, haciendo escondites a base de astillas de madera y dando vueltas en su rueda. Si eres de los que se van a la cama tarde y te entretienes con solo observar a tu pequeño coinquilino, entonces un hámster te traerá muchas alegrías. Siempre y cuando respetes sus necesidades y ritmos, es posible que, con mucha paciencia, delicadeza y con pequeños snacks logres domesticarlo. </p>

            </div>

            <a  routerLink="/pages/adopcion"  class="btn btn-square btn-primary-light me-1">Quiero Adoptar</a>
        </div>

    </div>

</div>
<!-- ROW-1 CLOSED -->
