<app-header-breadcrumb [title]="'Detalles del Producto'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<ul>
  <li><a href="https://amoranimalproyecto.netlify.app/dashboard">Inicio</a><a> / </a><a href="https://amoranimalproyecto.netlify.app/ecommerce/shopping-cart">Detalles del Producto</a></li>
</ul>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card productdesc">
            <div class="card-body">
                <div class="productdec text-center">
                    <div class="bg-light-gray p-6 text-center br-5">
                        <img alt="Product" src="https://m.media-amazon.com/images/I/41DhhB4Yz0L._AC_.jpg">
                    </div>
                </div>
                <div class="text-center mt-5 pb-5 border-bottom">
                    <a routerLink="/ecommerce/shopping-cart" class="btn btn-primary me-2"><i class="ti-shopping-cart"> </i> Añadir al carrito</a>
                    <a routerLink="/ecommerce/checkout" href="javascript:;" class="btn btn-secondary"><i class="ti-shopping-cart"> </i> Comprar Ahora!</a>
                </div>

                <div class="mt-4 mb-4">
                    <h3>Casa para Perro</h3>
                    <h5 class="mb-3 mt-2">Descripción</h5>
                    <p>Para Razas como Bull Dog Fráncés, Beagle, Yorky, Dashhund, Corgi, Schnauzer, Boston, Pomerania, Pug, Maltes, Westy, Scottish Terrier, Jack Russell, Cocker Spaniel
                      Material Resistente a la Humedad y Fácil de Limpiar
                      Renueva la Casita de tu Mascota, te lo Agradecerá y Disfrutarás viéndolo Feliz
                      Medidas 61 cm. de Frente, 68 cm. de Fondo y 59 cm. de Alto
                      La Casa no es Para Razas Mediana tendiente a Grande, Se Sugiere Revisar Bien la Medidas.</p>

                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->
