<app-header-breadcrumb [title]="'Product Details'" [items]="['ECommerce']" [active_item]="'Product Details'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card productdesc">
            <div class="card-body">
                <div class="productdec text-center">
                    <div class="bg-light-gray p-6 text-center br-5">
                        <img alt="Product" src="../../assets/images/pngs/31.png">
                    </div>
                </div>
                <div class="text-center mt-5 pb-5 border-bottom">
                    <a routerLink="/ecommerce/shopping-cart" class="btn btn-primary me-2"><i class="ti-shopping-cart"> </i> Add to cart</a>
                    <a routerLink="/ecommerce/checkout" href="javascript:;" class="btn btn-secondary"><i class="ti-shopping-cart"> </i> Buy Now</a>
                </div>

                <div class="mt-4 mb-4">
                    <h3>Lenovo Headset 330 Pentium Quad Core </h3>
                    <h5 class="mb-3 mt-2">Description</h5>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga.</p>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                        demoralized .</p>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->