<app-header-breadcrumb [title]="'Más información'"></app-header-breadcrumb>
<ul>
  <li><a href="/dashboard">Inicio</a><a> / </a><a href="/pages/blog">Ver mascotas</a><a> / </a><a href="/pages/detalles3">Conejo Cabeza de león</a></li>
</ul>
<br>

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/cabezadeleon.jpg"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Conejo Cabeza de león</h5>
                <p class="card-text">El conejo cabeza de león existe en todos los colores típicos de los conejos, como blanco, negro o con manchas. Dado que esta raza es muy nueva, el aspecto puede variar mucho, excepto por el cuello de estilo melena. Una característica distintiva son las orejas erguidas, aunque ahora ya hay ejemplares con orejas colgantes. </p>
                <p>Con sus grandes ojos redondos y su mata de pelo suave, el conejo león es muy deseado por los niños. Pero estos saltarines son más que nada animales observadores. Es muy divertido tener varios ejemplares y ver cómo socializan.</p>
                <p>Son aptos para niños a partir de ocho años. Sin embargo, la responsabilidad principal la deben asumir los padres, que también deben mostrar alegría e interés por estos peluditos.</p>

            </div>

            <a  routerLink="/pages/adopcion"  class="btn btn-square btn-primary-light me-1">Quiero Adoptar</a>
        </div>

    </div>

</div>
<!-- ROW-1 CLOSED -->
