<app-header-breadcrumb [title]="'Más información'"></app-header-breadcrumb>
<ul>
  <li><a href="/dashboard">Inicio</a><a> / </a><a href="/pages/blog">Ver mascotas</a><a> / </a><a href="/pages/detalles6">Gato de Bengala</a></li>
</ul>
<br>

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Bengal.jpg"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Gato de Bengala</h5>
                <p class="card-text">El gato de Bengala, también llamado gato bengalí o gato bengal, pertenece a una raza muy singular. Parece un «tigre doméstico» en el sentido literal. </p>
                <p> Los criadores apuestan por un toque de sangre salvaje en gatos híbridos como el bengalí o el savannah, la última moda en cría felina. </p>
                <p>Al ser una raza híbrida, los bengala suelen tener mayor tamaño que otros gatos; su cuerpo ágil y atlético puede pesar hasta 7 kg y llegar a medir 70 cm de longitud. Sus patas son largas y musculosas y su cabeza, en comparación, más bien pequeña; en ella destacan los pómulos altos y almendrados y los ojos grandes, normalmente azules o verdes. Las orejas son pequeñas, con punta redondeada y base ancha.</p>

            </div>

            <a  routerLink="/pages/adopcion"  class="btn btn-square btn-primary-light me-1">Quiero Adoptar</a>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->

