
<body>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet">

    <!-- nuestros estilos-->
    <link rel="stylesheet" type="text/css" href="/src/app/components/dashboard/dashboard/dashboard.component.css">

    <!-- iconos de friconix-->
    <script defer src="https://friconix.com/cdn/friconix.js"></script>

    <title>Amor Animal</title>
  </head>
  <div class="container-fluid">

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZiXdXMJKDozkQPEHPM0BB5CCm22UGVfNG4NvCKG1jbA0qlBuZFXfDXxY4g6G6andoPg&usqp=CAU'" alt="Random first slide">
        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ41E4-Xc7uKddySajQJyM8wNHx7rKEphCL-_03vHVv04zrSMQIMnTzw4KiUnGTUNUwzQ&usqp=CAU'" alt="Random second slide">
        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMxKX2F_iDBtWDEHaGALZDjfmMegupMMvolrvLp3r504lXXIqwZwzjBgdtitWAy_W0Mx8&usqp=CAU'" alt="Random third slide">
        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
    </ngb-carousel>

    </div>

  <div class="container-fluid bg-color-info font-color-general" id="inicio">
    <div class="row">
      <div class="col-12 col-lg-6 text-center text-lg-left my-3 pl-5">
        Col. del Valle, Ciudad de México
      </div>

      <div class="col-12 col-lg-6 text-center text-lg-right my-3 pr-5">
        Lunes a Viernes de 9 am a 7 pm. <span class="font-weigth-bolder"><i class="fi-xnsuxl-smartphone-solid"></i>
          </span>
      </div>
    </div>
  </div>

  <!-- FIN SECCIÓN INFORMES -->

  <!-- INICIO NAVBAR -->
  <nav>
    <span class="brand-name">Amor Animal</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="font-color-general"><i class="fi-xwsrxl-ellipsis"></i></span>
    </button>


  </nav>






  <!-- INICIO SECCIÓN INFORMES -->


  <!-- FIN NAVBAR -->


  <!-- INICIO SECCIÓN PRINCIPAL -->
  <section class="container-fluid">

    <div class="row bg-img-principal align-items-center">
      <div class="offset-5 col-6 bg-light p-3 d-none d-lg-block">
        <h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
        <p>
          Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para
          su mascota.
        </p>
        <p>
          Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre
          disponibles para darte el mejor servicio.
        </p>
      </div>


      <div class="col-10 mx-auto bg-light p-3 d-block d-lg-none">
        <h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
        <p>
          Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para
          su mascota.
        </p>
        <p>
          Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre
          disponibles para darte el mejor servicio.
        </p>
      </div>

    </div>

  </section>
  <!-- FIN SECCIÓN PRINCIPAL -->


  <!-- INICIO SECCIÓN NOSOTROS-->

  <section class="container-fluid bg-color-azul p-3" id="nosotros">

    <h4 class="text-white text-center p-3">
      ¿Quiénes somos?
    </h4>

    <hr class="hrblanco">

    <div class="row  align-items-center">
      <div class="col-12 col-lg-6">
        <img src='../../../../assets/images/media/vets.jpg' class="img-fluid p-3" alt="nosotros">
      </div>
      <div class="col-12 col-lg-6 text-white p-3">
        <h4 class="my-3">
          Nosotros:
        </h4>
        <p>
          Amor animal es una organización que brinda atención médica y asistencia a animales, ya sean domésticos o salvajes, y se enfoca en ayudar a los animales que necesitan un hogar. Los miembros del equipo pueden incluir veterinarios, asistentes veterinarios, cuidadores de animales, coordinadores de adopción, gerentes de operaciones y voluntarios. .
        </p>

        <p>
          El objetivo principal de la organización es proporcionar servicios de atención médica de alta calidad a los animales y garantizar que encuentren hogares amorosos y permanentes. También pueden ofrecer servicios de educación comunitaria, como capacitación en el cuidado de mascotas, concientización sobre la importancia de la adopción de animales y programas de prevención de la crueldad animal.
        </p>

        <p class="text-center">
          <a routerLink="/forms/form-elements" class="btn btn-primary btn-md">Pedir Cita</a>
        </p>
      </div>
    </div>
  </section>

  <!-- FIN SECCIÓN NOSOTROS-->


  <!-- INICIO SECCIÓN SERVICIOS-->
  <section class="container-fluid" id="servicios">

    <h4 class="text-center p-3 font-color-general">
      Servicios
    </h4>

    <hr class="hrazul">

    <div class="row">
      <div class="col-12 col-lg-4">
        <h5 class="font-color-general text-center p-3">Nutrición</h5>
        <img src="../../../../assets/images/media/dog1.jpg" class="img-fluid" alt="imagen nutricion">
        <p class="p-3">
          Un veterinario capacitado en nutrición animal puede brindar recomendaciones y planes de alimentación personalizados para ayudar a satisfacer las necesidades dietéticas individuales de cada mascota. También pueden ofrecer consejos sobre el control de peso y programas de pérdida de peso.
        </p>

      </div>

      <div class="col-12 col-lg-4">
        <h5 class="font-color-general text-center p-3">Chequeo General</h5>
        <img src="../../../../assets/images/media/dog2.jpg" class="img-fluid" alt="imagen chequeo">
        <p class="p-3">
          Un examen de salud completo y regular puede ayudar a detectar problemas de salud temprano, antes de que se conviertan en problemas más graves. Los servicios de chequeo general pueden incluir examen físico completo, análisis de sangre y orina, pruebas de diagnóstico por imagen, como radiografías o ecografías, y vacunas.
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h5 class="font-color-general text-center p-3">Masaje</h5>
        <img src="../../../../assets/images/media/dog3.jpg" class="img-fluid" alt="imagen masaje">
        <p class="p-3">
          El masaje para mascotas puede proporcionar una variedad de beneficios, como reducción del estrés y la ansiedad, mejora de la circulación sanguínea y alivio del dolor y la tensión muscular. Un masajista canino capacitado puede trabajar con la mascota para abordar áreas específicas de tensión o simplemente proporcionar un momento de relajación.
        </p>
      </div>

    </div>
  </section>

  <!-- FIN SECCIÓN SERVICIOS-->


  <!-- FIN SECCIÓN CONTACTO -->
  <section class="container-fluid bg-color-azul p-5" id="contacto">
    <h4 class="text-center p-3 text-white">
      Contacto
    </h4>

    <hr class="hrblanco">

    <div class="row">
      <div class="col-12 col-lg-3 my-5">
        <h4 class="text-center text-white"><i class="fi-onluxl-bus-side"></i> Dirección</h4>
        <div class="text-white text-center my-3">
          <p>Av. Col. del Valle 732</p>
          <p class="mt-n3">Col. del Valle, CDMX</p>
        </div>
      </div>



      <div class="col-12 col-lg-3 my-5">
        <h4 class="text-center text-white"><i class="fi-xnsuxl-smartphone-solid"></i> Teléfono</h4>
        <div class="text-white text-center my-3">
          <p>Tienda: 55 1234 5678</p>
          <p class="mt-n3">WhatsApp: 55 1234 5567</p>
        </div>
      </div>

      <div class="col-12 col-lg-3 my-5">
        <h4 class="text-center text-white"><i class="fi-xnluxl-envelope"></i> Correo</h4>
        <div class="text-white text-center my-3">
          <p>contacto@amoranimal.com</p>
          <p class="mt-n3">ventas@amoranimal.com</p>
        </div>
      </div>

      <div class="col-12 col-lg-3 my-5">
        <h4 class="text-center text-white"><i class="fi-xtluxl-calendar-thin"></i> Horario</h4>
        <div class="text-white text-center my-3">
          <p>Lunes a Viernes de 7am a 9 pm</p>
          <p class="mt-n3">Sábado de 7am a 1 pm</p>
        </div>
      </div>
      <hr class="hrblanco">


    </div>
  </section>
  <!-- FIN SECCIÓN CONTACTO-->

  <!-- INICIO SECCIÓN MAPA -->
  <section class="container-fluid">
    <a href="https://www.google.com/maps" target="_blank"><img src="../../../../assets/images/media/mapa.jpg"
        class="img-fluid" alt="imagen mapa"></a>
  </section>

  <!-- FIN SECCIÓN MAPA -->

  <!-- INICIO SECCIÓN FOOTER-->

  <footer class="container-fluid bg-color-info p-3 font-color-general text-center">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <p class="m-3">Síguenos en redes sociales</p>
        <ul class="social-media-container d-flex justify-content-center">
          <li><a href="https://www.facebook.com/profile.php?id=100092221055174" class="social-media-icon"><i class="fab fa-facebook fa-3x"></i></a></li>

          <li><a href="https://www.instagram.com/amoranimal3716/" class="social-media-icon"><i class="fab fa-instagram fa-3x"></i></a></li>
        </ul>


    <p class="m-3">
      Amor Animal © 2023 - Todos los derechos reservados
    </p>
  </footer>

  <!-- FIN SECCIÓN FOOTER-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
