<app-header-breadcrumb [title]="'Más información'"></app-header-breadcrumb>
<ul>
  <li><a href="/dashboard">Inicio</a><a> / </a><a href="/pages/blog">Ver mascotas</a><a> / </a><a href="/pages/blog-details">Conejo</a></li>
</ul>
<br>

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/belier.jpg"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Conejo</h5>
                <p class="card-text">El conejo se caracteriza por tener un cuerpo cubierto de un pelaje espeso y lanudo, de color pardo pálido a gris o rojizo, que permite su camuflaje para evitar a sus depredadores.</p>
                <p>  Pesa entre 1,5 y 2,5 kg en estado salvaje. Tiene orejas largas de hasta 7 cm las cuales le ayudan a regular la temperatura del cuerpo y una cola muy corta. Sus patas anteriores son más cortas que las posteriores. Mide de 33 a 50 cm en condiciones afables, incluso más en razas domésticas para carne. </p>
                <p>El conejo es un animal gregario y territorial (territorios de menos de 15 m², en ocasiones solo uno o dos). En óptimas condiciones de terreno y alimento prefieren vivir en largas y complejas conejeras o madrigueras. En ellas habitan de seis a diez individuos adultos de ambos sexos. La jerarquía de dominancia es importante en los machos ya que establece quién tiene prioridad para el apareamiento.</p>

            </div>

            <a  routerLink="/pages/adopcion"  class="btn btn-square btn-primary-light me-1">Quiero Adoptar</a>
        </div>

    </div>

</div>
<!-- ROW-1 CLOSED -->
